/* forms */
body {
  margin-top: 60px;
}
input[type="text"] {
  margin:0px; 
}
.hero-unit {
border-radius:0px!important   
}
.hero-unit form {
    text-align:center;
}
.hero-unit form input[type="submit"]{
padding:10px 30px 10px 30px
}
.hero-unit form input[type="text"]{
font-size:1.2em;
padding:10px;
}

/* ================= footer */
.footer {
margin: auto auto;
}