
/* body */



/* navbar */

.navbar-inverse .navbar-inner{
    background:#193b18;

}
.navbar a {
        color:#fff!important;
        }
.navbar .nav > .social-links  > a {
    padding:5px;
    margin:0px;
    font-size:20px;
    color:!important;
}


.fadein {
    background-color:#000;
    width:100%;
    height:100%!important;
    display:block;
    position:fixed;
    z-index: 9;
}

/* hero unit(s)*/
/* print name */
#print-box{
	margin-top:100px;
}
#print-box img {
	width:200px;
	height:auto;
}

.hero-unit {
  margin-top: 60px;
}

.hero-unit input[type="text"] {
  margin:0px; 
}
.hero-unit {
border-radius:0px!important   
}
.hero-unit form, .hero-unit {
    text-align:center;
}
.hero-unit form input[type="submit"]{
padding:10px 30px 10px 30px
}
.hero-unit form input[type="text"]{
font-size:1.2em;
padding:10px;
}
		/* print page */

.hero-unit.credit-hero{
    background:none!important;
    width:70%;
    margin:auto auto;
}
 /* ELEMENTS */
.element, .no-element {
	float:left;
}
.element {
    border:1px solid #fff;
    max-width:400px;
}
.no-element {
    color:#fff;
    letter-spacing: 3px;
    font-size:150px;
    padding-top:45px;
    font-family: heart_breaking_badregular;
}

.no-element .breakit {
    width:100%!important;
  margin-top:-30px
}
.breakit img {
    overflow:hidden;
    width:1000px!important;
    height:10px!important;
    visibility:hidden!important;
    
}

.pt{
	position:fixed;
	z-index: 1;
	opacity: .2;
	width:100%;
	left:-300px;
}
.pt img{
	width: 100%;
	height:auto;
}
.meth{
	position:fixed;
	right:-400px;
	z-index: 1;
	opacity: .11;
	width:100%;

}



/* cta rows ====================*/
.share {
margin-right:10px    
}
.ad {
    float:left;
    display: none;
    margin-bottom:20px;
}
.ad-text {
float:right;
width:50%;

}
.ad-choices {
    width:10px;
    position:relative;
    top:-8px;
    right:-8px;
    float:right;
    background-color:#999!important;
    width:10px;
    height:10px;
}
.ad-image {
    float:left; 
    width:40%
}
.ad-image-2 img{
margin-bottom:10px;
}
.ad-image-3 {
    width:40%;
}
.ad img {
 float:left;
    
}
.ad {
    padding:10px;
    border:1px solid #999;
    line-height: 20px;
}


.ad h2 {
    font-size:1.2em;
    line-height:20px;
    color:#00f;
}
.ad-tag{
    color:#093;
    font-size:1em;
}
 
/* ================= footer */
.footer {
margin: auto auto;
}
